/* CSD 460 Capstone in Software Development
Bravo Team: Riley Dorrington, Kelly Bordonhos, Robin Tageant, Christopher Morales
03/13/2023 - 05/14/2023 */

#login-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 994px;
    top: 143px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    left: 51%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(90deg, rgba(0, 216, 216, 0.5885) 0%, rgba(0, 128, 128, 0.5885) 100%);
    border-radius: 30px;
}

#login-container a {
    display: block;
    width: 100%;
    height: 100%;
}

#login-container:hover {
    background: linear-gradient(90deg, rgba(255, 127, 127, 0.588542) 0%, rgba(255, 39, 39, 0.588542) 100%);
}

#login-text {

    position: absolute;
    left: 37.86%;
    right: 38.35%;
    top: 34.29%;
    bottom: 34.29%;

    font-family: 'verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#sign-up-container {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 780px;
    top: 143px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;


    background: #FFFFFF;
    border-radius: 30px;
}

#sign-up-container a {
    display: block;
    width: 100%;
    height: 100%;
}


#sign-up-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

label {
    font-family: 'calibri';
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    color: rgba(72, 72, 72, 0.9);
    display: flex;
    align-items: center;
}

#input_fields_container {
    position: absolute;
    display: grid;
    gap: 1rem;
    grid-template-columns: 100%;
    width: 25%;

    /* center the items */
    left: 60%;
    top: 40%;
}

.password-input {
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #008080 0%, #008080 29.43%, #008080 50%) 1;
    color: #000;
    outline: none;
    width: 125%;
    padding: 5px 0;
    margin-top: 5px;
}

.password-input.text {
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #008080 0%, #008080 29.43%, #008080 50%) 1;
}

#firstname,
#lastname,
input[type="email"],
input[type="tel"],
input[type="password"] {
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #008080 0%, #008080 29.43%, #008080 50%) 1;
    color: #000;
    outline: none;
    width: 125%;
    padding: 5px 0;
    margin-top: 5px;
}

@media (max-width: 540px) {

    #firstname,
    #lastname,
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        width: 200%;
    }

    .password-input {
        width: 200%;
    }

    #input_fields_container {
        left: 25%;
    }

}