#login-container {
    position: absolute;
    width: 50%;
    height: 70px;
    left: 994px;
    top: 143px;

    border-radius: 30px;
    left: 51%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 30px;
}

#login-container a {
    display: block;
    width: 100%;
    height: 100%;
}

#login-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}


#sign-up-container {
    position: absolute;
    width: 50%;
    height: 70px;
    left: 780px;
    top: 143px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, rgba(0, 128, 128, 0.588542) 0%, rgba(0, 216, 216, 0.588542) 100%);
    border-radius: 30px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    /* move the text to the center middle */
    display: flex;
    align-items: center;
    justify-content: center;


    color: #ffffff;
}


#sign-up-container:hover {
    background: linear-gradient(rgba(255, 127, 127, 0.588542), rgba(255, 39, 39, 0.588542));
}

#sign-up-container a {
    display: block;
    width: 100%;
    height: 100%;
}

#input_fields_container {
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 1rem;
    width: 35%;
    top: 50%;
    right: 7.5%;
    transform: translate(0%, -50%);
}

label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-size: 1rem;
    color: rgba(72, 72, 72, 0.9);
}

#fName,
#lName,
input[type="email"],
input[type="tel"],
input[type="password"] {
    background: none;
    border: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, #008080 0%, #008080 29.43%, #008080 50%) 1;
    color: #000;
    outline: none;
    width: 100%;
    padding: 5px 0;
    margin-top: 5px;
}

#password-criteria-box {
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 15px;
    z-index: 1;
    font-family: 'Nunito';
    font-size: 0;
    border-radius: 10px;
    width: 100%;

    height: 100px;

    /* center it */
    right: 0%;
    left: 0%;
    top: 50%;
    transform: translate(0%, 80%);
}

#password-criteria-box p {
    /* text color */
    color: #ff0000;
    padding-right: 50px;

    width: 90%;

    font-size: 14px;

    /* remove space between p tags */
    line-height: .85;

    /* move text up */
    margin-top: -3px;
}

#close-password-criteria-box {
    display: block;
    background-color: #008080;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Nunito';
    font-size: 1rem;
    
    border-radius: 0px 10px 0 0px;

    /* position in top right corner */
    position: absolute;
    top: 0;
    right: 0;
  }
  

#close-password-criteria-box:hover {
    background-color: #005757;
}

/* at 540px, the input fields should be 100% width */
@media (max-width: 540px) {

    #password-criteria-box{
        width: 50%;

        /* move to the left */
        left: 0%;
        right: 0%;
        top: 50%;
        transform: translate(-5%, 90%);
    }

    #input_fields_container {
        width: 100%;
        left: 5%;

        /* add less space between the grid items */
        grid-column-gap: 0px;
    }

    #fName,
    #lName,
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        width: 80%;
    }

    #password-criteria-box {
        left: 2.5%;
    }

    label {
        font-size: 1rem !important;
    }

    label[for="confirm-password"] {
        margin-left: 0 !important;
        /* remove the margin */
    }
}

@media (max-width: 540px) and (max-height: 630px) {

    /* hide the subheader */
    #subheader {
        display: none;
    }

    /* move the input fields up */
    #input_fields_container {
        top: 52.5%;
    }
}

@media (max-width: 540px) and (max-height: 545px) {

    /* move the input fields up */
    #input_fields_container {
        top: 45%;
    }
}


/* if the screen is greater than 485, and the height is less than 830*/
@media (min-width: 540px) and (max-height: 660px) {

    /* move the input fields up */
    #input_fields_container {
        top: 45%;
    }

}

@media (max-width: 540px) and (max-height: 630px) {

    /* move the input fields up */
    #input_fields_container {
        top: 52.5%;
    }
}

@media (max-width: 540px) and (max-height: 545px) {

    /* move the input fields up */
    #input_fields_container {
        top: 45%;
    }
}

@media (max-width: 1000px) {
    label {
        font-size: .90rem;

        /* no wrap */
        white-space: nowrap;
    }
}

@media (max-width: 680px) {
    label {
        font-size: .80rem;
    }
}

@media (max-width: 600px) {
    label[for="confirm-password"] {
        /* move it to the left */
        margin-left: -12.5px;
    }
}