.content {
    position: relative;
    max-width: 960px;
    margin: auto;
}

#boxbanner {
    background-color: teal;
    max-width: 100%;
    height: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#boxtitle {
    text-align: center;
    color: white;
}

#boxtitlesmaller {
    font-size: 20%;
}

hr {
    max-width: 100%;
}

.navbar {
    overflow: hidden;
    padding-top: 10px;
}

.navbar a {
    float: none;
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: teal;
    text-align: center;
    text-decoration: none;
    padding: 5px 6px;
    font-size: 20px;
}

.navbar a:hover {
    background-color: teal;
    color: white;
    padding: 5px;
}

.navbar a:active {
    background-color: rgb(106, 193, 193);
    color: white;
}

.nav2 {
    text-align: center;
    border-top: solid 1px teal;
    border-bottom: solid 1px teal;
    margin-top: 15px;
}

#h2title {
    text-align: center;
    color: teal;
}

#details {
    text-align: justify;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    margin: auto;
}

#buttoncenter {
    text-align: center;
}

#featurebutton {
    border-radius: 24px;
    border-style: none;
    background-color: rgb(106, 193, 193);
    color: white;
    margin: 10px;
    padding: 10px;
    height: 40px;
}

/* hover feature button */
#featurebutton:hover {
    background-color: teal;
    color: white;
    cursor: pointer;
}

#locationcontainer {
    margin-bottom: 10px;
}

#imgtitleholder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgcenter {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

#heading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#h2title-center-php {
    text-align: center;
    margin: 0;
    color: rgb(255, 255, 255);
    height: 100%;
    font-size: calc(2vw + 2vh + 1vmin);
    line-height: calc(10% + 1vmin);

    /* Set the line-height to be a percentage of the parent container's height */
    transition: font-size 0.5s ease;

    /* center the text vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    resize: none;
}



#h3title {
    text-align: center;
    color: teal;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    /* height of footer */
}



/*About Page*/
#h2title-center {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-10%, -30%);
    color: white;
    font-size: 50px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    resize: none;
}

#aboutsize {
    font-size: 25px;
    font-weight: 500;
}

#ptitlesize {
    font-size: 20px;
    font-weight: 400;
}

#pfontweight {
    font-weight: 100;
    color: rgb(72, 72, 72);
}

#abouttagline {
    text-align: center;
    color: teal;
}

/*Rooms Page */
figure.gallery {
    display: grid;
    grid-template-columns: 25% auto;
    grid-gap: 20px;
    padding: 10px;
    border: 1px solid teal;
    margin: 0 0 5px 0;
    text-align: left;
}

figcaption {
    background-color: gainsboro;
    padding-left: 20px;
}

figure img {
    display: inline;
    margin: auto;
    border: 2px solid gainsboro;
    float: left;
}

#full,
#queen,
#dblqueen,
#king {
    width: 100%;
    height: 100%;
}



table {
    position: relative;
}

th.title {
    color: teal;
    font-size: 24px;
}

#guestbold {
    font-weight: bold;
}

li {
    list-style-type: none;
}

/*Amenities Page */
#h2title-center2 {
    text-align: center;
    position: absolute;
    top: 28%;
    left: 30%;
    transform: translate(-10%, -30%);
    color: white;
    font-size: 50px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    resize: none;
}

.amenities-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
}

.align-center {
    text-align: center;
}

/*Rewards Page*/
#imgcenter3 {
    display: block;
    width: 50%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#h2title-center3 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 28%;
    transform: translate(-10%, -30%);
    color: teal;
    font-size: 60px;
    text-shadow:
        -1px -1px 0 gold,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    resize: none;
}

.rewardbox h3 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    text-shadow:
        -1px -1px 0 teal,
        1px -1px 0 teal,
        -1px 1px 0 teal,
        1px 1px 0 teal;
}

#span1 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#span2 {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#span3 {
    text-align: center;
    position: absolute;
    top: 95%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

#welcome {
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center th {
    height: 50px;
    text-transform: capitalize;
}

.center td {
    width: 200px;
}

.total {
    height: 75px;
    font-weight: bold;
}